.hero-banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .link-box {
    position: absolute;
    @include center(true, true);
    @include breakpoint(small) {
      top: 80%;
    }
    a {
      border: 1px solid $color-white;
      padding: 14px 47px;
      background: rgba(215, 215, 215, 0.11);
      @include breakpoint(small) {
        padding: 14px 20px;
        font-size: 14px;
      }
      span {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
        padding-left: 0;
        font-family: $font-family-secondary;
        font-size: 20px;
        @include breakpoint(small) {
          display: none;
        }
      }
      &:hover {
        span {
          opacity: 1;
          visibility: visible;
          padding-left: 20px;
        }
      }
    }
  }
  .hero-slider {
    // padding: 0 0 100vh;
    // height: 0;
    // position: relative;
    // overflow: hidden;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(3, 8, 13, 0.29);
    }
    .slick-slide {
      padding: 0 0 100vh;
      height: 0;
      position: relative;
      overflow: hidden;
      .item {
        height: 100vh;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        iframe {
          width: 100vw;
          height: 56.25vw;
          min-height: 100vh;
          min-width: 177.77vh;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.4);
        }
      }
    }
  }
  .slick-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    border: 1px solid $color-logo;
    border-radius: 50px;
    transition: 0.3s all;
    &:after {
      content: "<";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -13px;
      left: 10px;
      font-family: $font-family-secondary;
      font-size: 50px;
      color: $color-white;
    }
  }
  .left-arrow {
    left: 5%;
    &:hover {
      left: 4%;
    }
  }
  .right-arrow {
    right: 5%;
    transform: scale(-1);
    @include breakpoint(small) {
      top: 46%;
    }
    &:hover {
      right: 4%;
    }
  }
}
.search-index {
  .slick-arrow {
    z-index: 0;
  }
  .link-box {
    display: none;
  }
}

/* shop-category */
.shop-category {
  padding-top: 100vh;
  margin-top: 50px;
  .shop-meta-wrap {
    height: 249px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    > a {
      display: inline-block;
      // overflow: hidden;
      height: 100%;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(29, 29, 29, 0.16);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .shop-meta-overlay {
      @include center(true, true);
      a {
        border: 1px solid $color-white;
        color: $color-white;
        padding: 6px 16px;
        transition: 0.3s all;
        text-shadow: 2px 1px 0px $color-black;
        font-weight: 300;
        @include breakpoint(small) {
          padding: 6px 12px;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      &:hover {
        a {
          border-radius: 25px;
        }
      }
    }
  }
}

/* trending-section */
.trending-section {
  padding-bottom: 50px;
  padding-top: 100px;
  // padding-top: 100vh;
  @include breakpoint(small) {
    padding-bottom: 0;
  }
  .col-md-6 {
    overflow: hidden;
  }
  .container {
    > .row {
      align-items: center;
      [class*="col-"]:last-child {
        .row {
          [class*="col-"]:nth-last-child(2) {
            .portfolio-content {
              margin-bottom: 0;
            }
          }
          [class*="col-"]:last-child {
            .portfolio-content {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .trending-left-img {
    height: 715px;
    @include breakpoint(small) {
      height: 350px;
      margin-bottom: 50px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .right-grid-image {
    height: 190px;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.3s all;
    }
    .grid-overlay {
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.3s all;
      span {
        @include center(true, true);
        font-family: $font-family-secondary;
        font-size: 60px;
        color: $color-white;
        cursor: pointer;
      }
      background-color: rgba(0, 0, 0, 0.4);
    }
    &:hover {
      .grid-overlay {
        opacity: 1;
        visibility: visible;
      }
      img {
        transform: scale(1.2);
      }
    }
  }
  .portfolio-content {
    text-align: center;
    margin-bottom: 80px;
    @include breakpoint(small) {
      margin-bottom: 40px;
    }
    h5 {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 0.05px;
    }
    p {
      font-family: $font-family-primary;
      font-size: 18px;
      span {
        text-decoration: line-through;
        color: #9b9b9b;
      }
    }
  }
  .common-link {
    margin-top: 60px;
    text-align: center;
    @include breakpoint(small) {
      margin-top: 30px;
    }
  }
  .for-desktop-layout {
    @include breakpoint(small) {
      display: none;
    }
  }
  .responsive-trending-slide {
    display: none;
    @include breakpoint(small) {
      display: block;
    }
  }
  .trending-slide {
    .slick-list,
    .slick-track,
    .slick-slide {
      height: 100%;
    }
    .slick-slide {
      > div {
        height: 100%;
      }
      .item {
        height: 100%;
      }
    }
  }
}

/* icon-info-wrap */
.icon-info-wrap {
  padding-top: 100px;
  // padding-bottom: 90px;
  @include breakpoint(small) {
    padding-top: 50px;
  }
  .icon-info-blk {
    text-align: center;
    border-style: double;
    border-width: 7px;
    padding: 20px 0;
    border-color: $color-line;
    @include breakpoint(small) {
      margin-bottom: 35px;
    }
    i {
      font-size: 30px;
      margin-bottom: 18px;
    }
    p {
      font-weight: bold;
      margin-bottom: 0;
      span {
        margin-top: 5px;
        display: block;
        font-weight: normal;
      }
    }
  }
}
/* product-slider-wrap */
.product-slider-wrap {
  .product-slider {
    overflow: hidden;
    .slick-list {
      margin: 0 -15px;
    }
    .slick-slide {
      padding: 80px 15px 0 15px;

      .item {
        padding: 80px 15px 15px 15px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: rgba(0, 0, 0, 0.2);
        position: relative;
        transition: 0.3s all;
        text-align: center;
        img {
          display: block;
          max-width: 200px;
          height: 307px;
          object-fit: cover;
          margin: auto;
        }
        > p {
          position: absolute;
          right: 0;
          top: 0;
          background-color: $color-green;
          color: $color-white;
          font-size: 16px;
          padding: 2px 5px;
          text-transform: capitalize;
        }
        &:hover {
          transform: translateY(-8px);
        }
        // .range-detail {
        //   background: $color-dark-red;
        //   color: $color-white;
        //   font-size: 14px;
        //   text-transform: uppercase;
        //   display: inline-block;
        //   padding: 5px 15px;
        //   margin-top: 15px;
        //   border-radius: 3px;
        // }
      }
    }
    .product-details {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      .detail-author {
        text-align: left;
        span {
          display: block;
          font-size: 16px;
          color: $color-logo;
        }
      }
      .author-price {
      }
    }
  }
}

/* product-lists */
.product-lists {
  padding-top: 70px;
  a {
    transition: 0.3s all;
    display: inline-block;
    width: 100%;
    &:hover {
      transform: translateY(-8px);
    }
  }
  .product-single {
    height: 548px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
    @include breakpoint(small) {
      height: 250px;
      margin-bottom: 50px;
    }
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    p {
      position: absolute;
      display: inline-block;
      @include center(true, true);
      top: 90%;
    }
  }
  .product-list-slide {
    overflow: hidden;
    .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
    .slick-slide {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/* attatchement-wallpaper */
.attatchement-wallpaper {
  background-image: url("../../images/bg-cta-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 110px 0;
  min-height: 534px;
  background-attachment: fixed;
  @include breakpoint(medium) {
    background-position: inherit !important;
    background-attachment: inherit !important;
  }

  .wallpaper-heading {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h3 {
      font-size: 48px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.20833em;
      letter-spacing: 0.05px;
      color: $color-white;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71429em;
      letter-spacing: 0.075px;
      color: $color-white;
      margin-bottom: 50px;
    }
  }
  .common-link {
    text-align: center;
    a {
      color: $color-white;
    }
  }
}

/* testimonial slider */
.testimonial {
  padding-bottom: 10px;
  position: relative;
  padding-top: 60px;
  .tesimonial-slide {
    .item {
      text-align: center;
      padding: 30px 280px;
      box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.17);
      margin-bottom: 30px;
      margin-top: 30px;
      position: relative;
      @include breakpoint(wide) {
        padding: 30px 80px;
      }
      @include breakpoint(medium) {
        padding: 30px 40px;
      }
      @include breakpoint(small) {
        padding: 30px 30px;
      }
      &:after {
        position: absolute;
        content: "";
        top: -5px;
        width: 97%;
        left: 0;
        height: 10px;
        background: #f4f4f4;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:before {
        position: absolute;
        content: "";
        top: -15px;
        height: 10px;
        width: 93%;
        background: #e8e8e8;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin: 0 auto;
        margin-bottom: 18px;
      }
      p {
        font-size: 14px;
        margin-bottom: 26px;
      }
      h3 {
        font-size: 24px;
        font-weight: 400;
        span {
          font-size: 14px;
          display: block;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
        }
      }
    }
  }
}

/* grid-view-two-col */
.grid-view-two-col {
  // background-color: $color-light-orange;
  padding-top: 80px;
  .container {
    max-width: 100%;
  }
  .custom-row {
    display: flex;
    flex-wrap: wrap;
  }
  .col-grid-cus {
    flex: 0 0 50%;
    max-width: 50%;
    @include breakpoint(medium) {
      flex: inherit;
      max-width: 100%;
      width: 100%;
    }
  }
  .left-col-img {
    height: 100%;
    overflow: hidden;
    height: 650px;
    @include breakpoint(medium) {
      height: 300px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 2.5s all;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  .right-col-detail {
    text-align: center;
    background-color: #c9ac7f;
    height: 100%;
    padding: 120px 70px;
    @media (min-width: 1500px) {
      padding-right: calc((100vw - 1330px) / 2);
    }
    @include breakpoint(small) {
      padding: 50px 15px;
    }
    p,
    h3,
    h5 {
      color: $color-white;
      letter-spacing: 1;
    }
    h5 {
      margin-bottom: 20px;
      font-family: $font-family-secondary;
    }
    h3 {
      margin-bottom: 40px;
      font-size: 45px;
      line-height: 1;
      @include breakpoint(small) {
        margin-bottom: 20px;
      }
    }
    p {
      margin-bottom: 50px;
      @include breakpoint(small) {
        margin-bottom: 30px;
      }
    }
    .common-link {
      a {
        display: inline-block;
        color: $color-white;
        z-index: 1;
        border: 2px solid $color-white;
      }
    }
  }
}

/* client */
/*client*/
.client {
  padding-top: 95px;
  padding-bottom: 80px;
  @include breakpoint(small) {
    padding-bottom: 0;
  }
  .client-slide {
    padding-bottom: 50px;
    .slick-slide {
      margin-right: 40px;
      @include breakpoint(small) {
        margin-right: 0;
      }
    }
    .item {
      border: 1px solid black;
      @include breakpoint(small) {
        border: none;
      }
      img {
        margin: 0 auto;
        opacity: 0.5;
        transition: 0.3s all;
        @include breakpoint(small) {
          opacity: 1;
        }
        &:hover {
          transform: scale(1.2);
          opacity: 1;
        }
      }
    }
  }
}
