$font-family-base: "Sans Serif", serif;

$font-family-primary: "Teko", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

$color-red: #ff0000;
$color-white: #fff;
$color-logo: #b79054;
$color-dark-red: #62352e;
$color-light-orange: #f6f3f5;
$color-light-black: #282828;
$color-line: #d7d7d7;
$color-black: #000;
